{% extends 'admintemplates/adminbase.html' %}
{% load static %}




{% block content %}

 <!-- main-heading -->
            <h2 class="main-title-w3layouts mb-2 text-center">Tables</h2>
            <!--// main-heading -->

            <!-- Tables content -->
            <section class="tables-section">
                <!-- table5 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Delete Food</h4>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>

               

            </section>


{% endblock %}