{% extends 'admintemplates/adminbase.html' %}
{% load static %}




{% block content %}

 <!-- main-heading -->
            <h2 class="main-title-w3layouts mb-2 text-center">Tables</h2>
            <!--// main-heading -->

            <!-- Tables content -->
            <section class="tables-section">
                <!-- table5 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Food form</h4>
                    <form method="POST" enctype="multipart/form-data">
                    	{% csrf_token %}
                    	{{form.as_p}}
                    	<button>Save data</button>
                    </form>
                </div>

               

            </section>

{% endblock %}