{% extends 'admintemplates/adminbase.html' %}
{% load static %}




{% block content %}

 <!-- main-heading -->
            <!-- <h2 class="main-title-w3layouts mb-2 text-center">Tables</h2> -->
'            <!--// main-heading -->

            <!-- Tables content -->
            <section class="tables-section">
                <!-- table5 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Food List</h4>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">price</th>
                                <th scope="col">Image</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        	{% for food in foodlist %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{food.name}}</td>
                                <td>Rs.{{food.price}} only</td>
                                <td><img src="{{food.image.url}}" width="100"></td>
                                <td>
                                    <a href="{% url 'themeapp:adminfoodupdate' food.id %}" class="btn btn-primary">Update</a>
                                    <a href="{% url 'themeapp:adminfooddelete' food.id %}" class="btn btn-danger">Delete</a>

                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

               

            </section>'

{% endblock %}