{% extends 'admintemplates/adminbase.html' %}
{% load static %}




{% block content %}

 <!-- main-heading -->
            <!-- <h2 class="main-title-w3layouts mb-2 text-center">Tables</h2> -->
'            <!--// main-heading -->

            <!-- Tables content -->
            <section class="tables-section">
                <!-- table5 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Food List</h4>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">title</th>
                                <th scope="col">Image</th>
                            </tr>
                        </thead>
                        <tbody>
                        	{% for foodcategory in allcategory %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{foodcategory.title}}</td>
                                
                                <td>
                                    {% if foodcategory.image %}
                                    <img src="{{foodcategory.image.url}}" width="100">
                                    {% endif %}
                                </td>
                                 <td>
                                    <a href="{% url 'themeapp:admincategoryupdate' foodcategory.id %}" class="btn btn-primary">Update</a>
                                    <a href="{% url 'themeapp:admincategorydelete' foodcategory.id %}" class="btn btn-danger">Delete</a>

                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

               

            </section>'

{% endblock %}