{% extends "base.html" %}
{% load static %}
{% block abc %}main-banner-2{% endblock %}
{% block aboutpage %}active{% endblock %}




{% block body %}
	<!-- page details -->
	<div class="breadcrumb-w3ls py-1">
		<div class="container">
			<ol class="breadcrumb m-0">
				<li class="breadcrumb-item">
					<a href="index.html">Home</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">About Us</li>
			</ol>
		</div>
	</div>
	<!-- //page details -->

	<!-- about  -->
	<section class="about-inner py-5">
		<div class="container pt-xl-5 pt-lg-3">
			<h3 class="title-w3 mb-5 font-weight-bold">About Us <span>Something about us</span></h3>
			<div class="row">
				<div class="col-lg-6 w3lsits_works-grid mt-xl-4">
					<div class="wthree-bottom">
						<h6 class="subheading-w3ls text-uppercase text-dark mb-4">DEAL OF THE <span class="font-weight-bold">DAY</span>
							organic good <span class="font-weight-bold">foods 50%</span> off</h6>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, eaque ipsa
							quae ab illo inventore veritatis et quasi architecto.</p>
						<a href="about.html" class="btn button-style mt-sm-5 mt-4">Read More</a>
					</div>
				</div>
				<div class="col-lg-6 w3lsits_works-grid1 mt-lg-0 mt-sm-5 mt-4">
					<img src="{% static 'images/about.jpg' %}" alt="" class="img-fluid" />
				</div>
			</div>
		</div>
	</section>
	<!-- //about -->

	<!-- middle -->
	<section class="what-w3ls">
		<div class="container-fluid py-xl-5 py-lg-3">
			<div class="offset-xl-7 offset-lg-6 offset-md-4 offset-sm-2">
				<div class="grids-whtas pr-xl-5">
					<h3 class="tittle text-wh mb-5 font-weight-bold">763+ fruits, vegetables & lot more</h3>
					<p class="lead text-li">Fresh From Our Farm ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at,
						semper varius orci. Nulla accumsan ac elit in congue.</p>
					<hr class="my-4">
					<p class="text-li">Rerum hic tenetur a sapiente delectus reiciendis maiores alias consequatur aut consequat
						sapien ut leo cursus
						rhoncus.Nullam dui mi, vulputate ac metus.</p>
					<a href="about.html" class="btn button-style mt-sm-5 mt-4">Read More</a>
				</div>
			</div>
		</div>
	</section>
	<!-- //middle -->

	<!-- team -->
	<section class="team pb-5" id="farmer">
		<div class="container pb-xl-5 pb-lg-3">
			<h3 class="title-w3 mb-5 font-weight-bold">Our Farmers <span>Caption Here</span></h3>
			<div class="row inner-sec-w3layouts-w3pvt-lauinfo">
				<div class="col-md-4 team-grids text-center">
					<img src="{% static 'images/team1.jpg' %}" class="img-fluid" alt="">
					<div class="team-info">
						<div class="caption mb-3">
							<h4>John Doe</h4>
						</div>
						<div class="social-icons-section">
							<a class="fac" href="#">
								<i class="fa fa-facebook"></i>
							</a>
							<a class="twitter mx-2" href="#">
								<i class="fa fa-twitter"></i>
							</a>
							<a class="google" href="#">
								<i class="fa fa-google-plus"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 team-grids my-md-0 my-4 text-center">
					<img src="{% static 'images/team3.jpg' %}" class="img-fluid" alt="">
					<div class="team-info">
						<div class="caption mb-3">
							<h4>Adam Ster</h4>
						</div>
						<div class="social-icons-section">
							<a class="fac" href="#">
								<i class="fa fa-facebook"></i>
							</a>
							<a class="twitter mx-2" href="#">
								<i class="fa fa-twitter"></i>
							</a>
							<a class="google" href="#">
								<i class="fa fa-google-plus"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 team-grids text-center">
					<img src="{% static 'images/team2.jpg' %}" class="img-fluid" alt="">
					<div class="team-info">
						<div class="caption mb-3">
							<h4>Chris Tina</h4>
						</div>
						<div class="social-icons-section">
							<a class="fac" href="#">
								<i class="fa fa-facebook"></i>
							</a>
							<a class="twitter mx-2" href="#">
								<i class="fa fa-twitter"></i>
							</a>
							<a class="google" href="#">
								<i class="fa fa-google-plus"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- team -->

	<!-- testimonials -->
	<div class="testimonials py-5" id="testi">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title-w3 mb-5 text-wh font-weight-bold">What Our Customers Say
				<span>Excellent Reviews for our Website</span>
			</h3>
			<div class="carousel-inner">
				<div class="row">
					<div class="col-lg-6 w3_testimonials_grid">
						<div class="bg-wh p-sm-5 p-4">
							<p class="sub-test-w3ls">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
								impedit quo minus id quod possimus, omnis voluptas.
							</p>
							<div class="row mt-5">
								<div class="col-3 testi-img-res">
									<img src="{% static 'images/te1.jpg' %}" alt=" " class="img-fluid" />
								</div>
								<div class="col-9 w3_testi_grid mt-xl-3 mt-lg-2 mt-md-4 mt-2">
									<h5 class="mb-2">Thomas Carl</h5>
									<p>Sed do eiusmod</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 w3_testimonials_grid mt-lg-0 mt-4">
						<div class="bg-wh p-sm-5 p-4">
							<p class="sub-test-w3ls">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
								impedit quo minus id quod possimus, omnis voluptas.
							</p>
							<div class="row mt-5">
								<div class="col-3 testi-img-res">
									<img src="{% static 'images/te2.jpg' %}" alt=" " class="img-fluid" />
								</div>
								<div class="col-9 w3_testi_grid  mt-xl-3 mt-lg-2 mt-md-4 mt-2">
									<h5 class="mb-2">Adam Ster</h5>
									<p>Sed do eiusmod</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //testimonials -->
	{% endblock %}
