{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Organic Food Agriculture Category Bootstrap Responsive Web Template | Home :: W3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Organic Food Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Bootstrap-Core-CSS -->
	<link href="{% static 'css/css_slider.css' %}" type="text/css" rel="stylesheet" media="all">
	<!-- banner slider -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Mada:200,300,400,500,600,700,900&amp;subset=arabic" rel="stylesheet">
	<!-- //Web-Fonts -->
</head>

<body>
	<!-- main banner -->
	<div class="{% block abc %}{% endblock %}" id="home">
		<!-- header -->
		<header>
			<div class="container-fluid">
				<div class="header d-md-flex justify-content-between align-items-center py-sm-4 py-3 px-xl-5 px-lg-3 px-2">
					<!-- logo -->
					<div id="logo">

						<a class="" href="/"><img src="https://sarobartech.com/media/organizationdetails/sarobar_logo_0DyqH7y.png" height="80"></a>
					</div>
					<!-- //logo -->
					<!-- nav -->
					<div class="nav_w3ls">
						<nav>
							<label for="drop" class="toggle toogle-2">Menu</label>
							<input type="checkbox" id="drop" />
							<ul class="menu">
								<li class="{% block homepage %}{% endblock %}"><a href="/">Home</a></li>
								<li class="mx-lg-4 mx-md-3 my-md-0 my-2 {% block aboutpage %}{% endblock %}"><a href="{% url 'themeapp:about' %}">About Us</a></li>
								<li class="{% block gallerypage %}{% endblock %}"><a href="{% url 'themeapp:gallery' %}">Gallery</a></li>
								<li class="mx-lg-4 mx-md-3 my-md-0 my-2">
									<!-- First Tier Drop Down -->
									<label for="drop-2" class="toggle">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>
									</label>
									<a href="#">Category <span class="fa fa-angle-down" aria-hidden="true"></span></a>
									<input type="checkbox" id="drop-2" />
									<ul>
										{% for category in mycategorys %}
										<li><a href="#best" class="drop-text">{{category.title}}</a></li>
										{% endfor %}
									</ul>
								</li>
								<li class="{% block contactpage %}{% endblock %}"><a href="{% url 'themeapp:contact' %}">Contact Us</a></li>
							</ul>
						</nav>
					</div>
					<!-- //nav -->
				</div>
			</div>
		</header>
		<!-- //header -->
		{% block banner %}
		{% endblock %}

	</div>
	<!-- //main -->
	{% block body %}
	{% endblock %}







	<!-- footer -->
	<footer class="py-5">
		<div class="container pt-xl-5 pt-lg-3">
			<!-- newsletter -->
			<div class="newsletter_right_w3w3pvt-lau pb-md-5 pb-3" id="newsletter">
				<h2 class="tittle text-wh mb-5 font-weight-bold">Subscribe Newsletter</h2>
				<div class="n-right-w3ls pt-3">
					<form action="#" method="post">
						<div class="row">
							<div class="col-md-4 form-group">
								<input class="form-control" type="text" name="Name" placeholder="Name" required="">
							</div>
							<div class="col-md-4 form-group px-md-0">
								<input class="form-control" type="email" name="Email" placeholder="Email Address" required="">
							</div>
							<div class="col-md-4 form-group mt-md-0 mt-3">
								<button class="form-control btn text-uppercase" type="submit">Subscribe</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- //newsletter -->
			<!-- footer bottom -->
			<div class="row pt-xl-5 pt-lg-3">
				<!-- button -->
				<div class="col-lg-5 col-md-7 w3l-footer mt-lg-3 text-md-left text-center">
					<ul class="list-unstyled footer-nav-wthree">
						<li class="mr-4">
							<a href="{% url 'themeapp:home' %}" class="active">Home</a>
						</li>
						<li class="mr-4">
							<a class="" href="{% url 'themeapp:about' %}" >About Us</a>
						</li>
						<li class="mr-4">
							<a class="" href="{% url 'themeapp:gallery' %}">Gallery</a>
						</li>
						<li>
							<a class="" href="{% url 'themeapp:contact' %}">Contact Us</a>
						</li>
					</ul>
				</div>
				<!-- //button -->
				<!-- social icons -->
				<div class="col-lg-7 col-md-5 w3social-icons text-md-right text-center mt-md-0 mt-3">
					<ul>
						<li>
							<a href="#" class="rounded-circle">
								<i class="fa fa-facebook-f"></i>
							</a>
						</li>
						<li class="px-2">
							<a href="#" class="rounded-circle">
								<i class="fa fa-google-plus"></i>
							</a>
						</li>
						<li>
							<a href="#" class="rounded-circle">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
					</ul>
				</div>
				<!-- //social icons -->
			</div>
			<!-- //footer bottom -->
			<!-- copyright -->
			<div class="row pt-lg-4 pt-3 text-md-left text-center">
				<p class="col-xl-7 col-lg-8 copy-right-grids mt-lg-1">© 2019 Organic Food. All Rights Reserved | Design by
					<a href="https://w3layouts.com/" target="_blank">W3layouts</a>
				</p>
				<div class="col-xl-5 col-lg-4 text-center mt-lg-0 mt-4">
					<a href="#home" class="move-top"></a>
				</div>
			</div>
			<!-- //copyright -->
		</div>
	</footer>
	<!-- //footer -->

</body>

</html>