{% extends "base.html" %}
 {% load static %}
{% block abc %} main-banner-2 {% endblock %} 
{% block gallerypage %}active{% endblock %}


{% block body %}

<!-- page details -->
	<div class="breadcrumb-w3ls py-1">
		<div class="container">
			<ol class="breadcrumb m-0">
				<li class="breadcrumb-item">
					<a href="index.html">Home</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Gallery</li>
			</ol>
		</div>
	</div>
	<!-- //page details -->

	<!-- gallery -->
	<div class="gallery py-5" id="gallery">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title-w3 mb-5 text-wh font-weight-bold">Our Gallery
				<span>Caption Here</span>
			</h3>
			<div class="news-grids gal text-center">
				<div class="row">
					{% for gallery in mygallerys %}
					<div class="col-md-4 gal-img">
						<a href="#gal1"><img src="{{gallery.image.url}}" alt="news image" class="img-fluid"></a>
					</div>
					{% endfor %}
				</div>
				
			</div>
		</div>
	</div>
	<!-- gallery popups -->
	<!-- popup-->
	<div id="gal1" class="popup-effect">
		<div class="popup">
			<img src="images/d4.jpg" alt="Popup Image" class="img-fluid" />
			<h3 class="title font-weight-bold let mt-3 mb-2">Apples</h3>
			<p>Sed ut perspiciatis unde omnis iste.</p>
			<a class="close" href="#gallery">&times;</a>
		</div>
	</div>
	<!-- //popup -->
	<!-- popup-->
	<div id="gal2" class="popup-effect">
		<div class="popup">
			<img src="images/d2.jpg" alt="Popup Image" class="img-fluid" />
			<h3 class="title font-weight-bold let mt-3 mb-2">Carrots</h3>
			<p>Sed ut perspiciatis unde omnis iste.</p>
			<a class="close" href="#gallery">&times;</a>
		</div>
	</div>
	<!-- //popup -->
	<!-- popup-->
	<div id="gal3" class="popup-effect">
		<div class="popup">
			<img src="images/d3.jpg" alt="Popup Image" class="img-fluid" />
			<h3 class="title font-weight-bold let mt-3 mb-2">Grapes</h3>
			<p>Sed ut perspiciatis unde omnis iste.</p>
			<a class="close" href="#gallery">&times;</a>
		</div>
	</div>
	<!-- //popup -->
	<!-- popup-->
	<div id="gal4" class="popup-effect">
		<div class="popup">
			<img src="images/d1.jpg" alt="Popup Image" class="img-fluid" />
			<h3 class="title font-weight-bold let mt-3 mb-2">Plums</h3>
			<p>Sed ut perspiciatis unde omnis iste.</p>
			<a class="close" href="#gallery">&times;</a>
		</div>
	</div>
	<!-- //popup -->
	<!-- popup-->
	<div id="gal5" class="popup-effect">
		<div class="popup">
			<img src="images/d5.jpg" alt="Popup Image" class="img-fluid" />
			<h3 class="title font-weight-bold let mt-3 mb-2">Berries</h3>
			<p>Sed ut perspiciatis unde omnis iste.</p>
			<a class="close" href="#gallery">&times;</a>
		</div>
	</div>
	<!-- //popup -->
	<!-- popup-->
	<div id="gal6" class="popup-effect">
		<div class="popup">
			<img src="images/d6.jpg" alt="Popup Image" class="img-fluid" />
			<h3 class="title font-weight-bold let mt-3 mb-2">Oranges</h3>
			<p>Sed ut perspiciatis unde omnis iste.</p>
			<a class="close" href="#gallery">&times;</a>
		</div>
	</div>
	<!-- //popup -->
	<!-- //gallery popups -->
	<!-- //gallery -->
{% endblock %}
